# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Don't commit binaries
bin

# Do not allow a multi-moduled projected
go.work.sum

# Localnet config
localnet_config.yaml
# NB: The helper sed command to update `localnet_config` was updated
# so its universal across Linux & macOS. Though it work, it creates this
# extra file. If you are reading this and can think of a way to improve
# `docusaurus/docs/infrastructure/localnet.md`, please do!
# Ref: https://stackoverflow.com/questions/4247068/sed-command-with-i-option-failing-on-mac-but-works-on-linux
localnet_config.yaml-e
# Used for hot-reloading
.tilt-build-trigger

# Config
.*.yaml
.config.yaml
.config.*.yaml
!.config.example.yaml
!.config.shannon_example.yaml
!.config.morse_example.yaml
!.config.morse_example_testnet.yaml
# Morse E2E config
.morse.config.yaml
# Shannon E2E config
.shannon.config.yaml

# Env
.env
.env.*
!.env.example

# Macos
.DS_Store
**/.DS_Store

# Development
.vscode
.idea/
.mise.local.toml

# tmp directory
tmp
tmp/*

# PATH artifacts
install.log

# exclude values.tmpl.yaml files
!values.tmpl.yaml

# Claudesync
.claudesync/

# Config Backup files
*.backup
